{% extends "base.html" %}

{% load static %}

{% block content %}

<h2 class='container'> Edit your Profile </h2>
<head>
<style>

* input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=file] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

</style>
</head>


<form method="POST" action="" class="container" enctype="multipart/form-data">
{% csrf_token %}

  {% if user.profile.get_photo_url != NULL %}
  <img class="card-img-top" src="{% static user.profile.get_photo_url %}" data-holder-rendered="true" data-holder-rendered="true" style="width: 225px; height: 100%; display: block;">
  {% else %}
  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" data-holder-rendered="true" style="width: 225px; height: 100%; display: block;">            
  {% endif %}

    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    
    <p><button type="submit" class="btn btn-primary">Submit</button></p>
</p>
   
</form>

{% endblock %}